<!DOCTYPE html>
<html>
  <script>
  function valida(e){
      tecla = (document.all) ? e.keyCode : e.which;
      //Tecla de retroceso para borrar, siempre la permite
      if (tecla==8){
          return true;
      }
          
      // Patron de entrada, en este caso solo acepta numeros
      patron =/[0-9]/;
      tecla_final = String.fromCharCode(tecla);
      return patron.test(tecla_final);
  }
  </script>
  <script type="text/javascript">
      function showContent() {
          element = document.getElementById("content");
          check = document.getElementById("check");
          if (check.checked) {
              element.style.display='block';
          }
          else {
              element.style.display='none';
          }
      }
  </script>

  <% 
    fecha_hoy = Time.new
    
    horaTarde = 13
    minutoTarde = 00
    hora = fecha_hoy.strftime("%H")
    minuto = fecha_hoy.strftime("%M")
    hora = hora.to_i
    minuto = minuto.to_i
    esTarde = false
    if hora > horaTarde
      esTarde = true
    end
    
    if minuto > minutoTarde && hora == horaTarde
      esTarde = true
    end
  %>
<head>
  <title>Com&eacute;s hoy? </title>
</head>
<body>

<div class="container" style="text-align: center;">
  <% if !esTarde %>
    <h1 style="text-align: center">Hoy vas a comer?</h1>

    <div class="container" style="width: 50%">
        <%= form_for(@comensale) do |f| %>
          <% if @comensale.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comensale.errors.count, "error") %> prohibited this comensale from being saved:</h2>

              <ul>
              <% @comensale.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <form role="form" action="/comensales/create" class="nifty_form" method="post" >
              <div class="form-group">
                  <% if(user_signed_in?) %>
                    <input type="text" class="form-control hidden" id="legajo_1" onkeypress="return valida(event)"
                        value=<%= current_user.legacy %> placeholder="Introduce tu legajo" name=comensale[id_legajo]>
                    
                  <% else %>
                    <input type="text" class="form-control" id="legajo_1" onkeypress="return valida(event)"
                                 placeholder="Introduce tu legajo" name=comensale[id_legajo]>
                <% end %>   
              </div>
              <div class="form-group">
                <label for="mail_1"><%= f.label :mail %></label>
                <% if(user_signed_in?) %>
                  <input type="email" class="form-control" id="mail_1"
                      value=<%= current_user.email %> placeholder="Introduce tu email" name=comensale[mail]>
                <% else %>
                  <input type="email" class="form-control" id="mail_1"
                       placeholder="Introduce tu email" name=comensale[mail]>
                <% end %>
              </div>
              <div class="form-group">
                <label for="text">Agregar invitado</label>
                <input type="checkbox" name="check" id="check" value="0" onchange="javascript:showContent()" />
              </div>


              <div class="form-group" id='content' style='display:none;'>
                <label for="number"><%= f.label :invitados %></label>
                <select class="selectpicker" name = comensale[invitados]>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                </select>
              </div>      

              <div class="actions">
                <%= f.submit "Hoy voy a comer" %>
              </div>    
              <div class="form-group" style="visibility:hidden">
                <label for="text"><%= f.label :fecha_notificacion %></label>
                <input id="fecha_1" name="comensale[fecha_notificacion]" type="date" value="<%=Time.now.strftime("%d-%m-%Y %R")%>"  />
              </div>
              <div class="form-group" style="visibility:hidden">
                <label for="number"><%= f.label :cantidad %></label>
                <input id="cantidad1" name="comensale[cantidad]" type="number" value="1"  />
              </div>
              <div class="form-group" style="visibility:hidden">
                <label for="text"><%= f.label :tipo_comensal %></label>
                <input id="comensal1" name="comensale[tipo_comensal]" type="text" value="Empleado"  />
              </div>
            </form>
      <% end %>
    </div>
  <% else %>
      <h2>Ya estamos comiendo, pas&aacute; por el comedor</h2>
      <p>Por favor acordate de avisar antes de las 11:00 A.M.</p>                  
        <%=image_tag("tarde.jpg", class: "img-rounded", width:"601", height:"300")%>
      <p>M&aacute;s suerte la pr&oacute;xima</p> 
  <% end %>

</div>
    <%= link_to "Volver", comensales_path, {style: 'color: white;', :class=>'btn btn-warning'}  %>
</body>
</html>
