<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Lista de Comensales</h1>



<div class="container">
  <h2>¿Quién come hoy?</h2>
  <p>En esta pantalla podrá visualizar quienes han confirmado su presencia en el comedor:</p>




  <!-- Mostramos los comensales a horario, los ligeramente tarde (de 11hs a 13hs) y los tardes (más de 13hs) !-->

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Cantidad", { role: "style" } ],
        ["Empleados", <%= @comensales_count_empleado%>, "blue"],
        ["Invitados", <%= @comensales_count_invitado%>, "blue"],
        ["Directores", <%= @comensales_count_director%>, "blue"],
        ["Gerentes", <%= @comensales_count_gerente%>, "blue"]
      ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         fontSize: 17},
                       2]);
      var options = {
        title: "Comensales de hoy",
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
      chart.draw(view, options);
    }
  </script>
  <div id="columnchart_values2" style="width: 900px; height: 300px;"></div>

  <SECTION class="col-sm-12" style="margin-bottom: 25px">
    <h1 style="text-align: center">Comensales</h1><br><br>
    
    <div class="col-sm-4" style="background: #006400; color: white; padding-bottom: 50px; padding-top: 50px">
      <h2 style="text-align: center">Total (<%= @comensales_count_total %>)</h2>  
    </div>

    <div class="col-sm-4" style="background: #003DF5; color: white; padding-bottom: 50px; padding-top: 50px">
      <h2 style="text-align: center">A horario (<%= @comensales_count_normal %>)</h2>
    </div>
    
    <div class="col-sm-4" style="background: #FF0000; color: white; padding-bottom: 50px; padding-top: 50px " >
      <h2 style="text-align: center">Tarde (<%= @comensales_count_tarde %>)</h2>

    </div>

  </SECTION>
  <h2>
  <%= link_to "Agregar comensales", new_comensale_path, {style: 'color: white', :class => "btn btn-primary"}  %>
  
  <%= link_to "Ver menús", menus_path, {style: 'color: white', :class => "btn btn-success"}  %>
  </h2>


  <table class="table">
    <thead>
      <tr>
        <th>Mail</th>
        <th>Tipo comensal</th>
        <th>Proyecto</th>
        <th>Fecha notificacion</th>
        <th>Cantidad</th>
        <!--
        <th colspan="3"></th>
        -->
      </tr>
    </thead>
    <tbody>
      <% @comensales.each do |comensale| %> 
      <tr>
        <td><%= comensale.mail %></td>
        <td><%= comensale.tipo_comensal %></td>
        <td><%= comensale.proyecto %></td>
        <td><%= comensale.fecha_notificacion %></td>
        <td><%= comensale.cantidad %></td>
        <!--
        <td><%= link_to 'Show', comensale %></td>
        <td><%= link_to 'Editar', edit_comensale_path(comensale) %></td>
        -->
        <td><%= link_to 'Eliminar', comensale, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
