<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<h1>Lista de Comensales</h1>

<div class="container">
  <h2>¿Quién come hoy?</h2>
  <p>En esta pantalla podrá visualizar quienes han confirmado su presencia en el comedor:</p>

  <p>Comensales informados antes de las 12:00 del 10/06/2017</p>

  <%= @comensales_count_empleado%>
  <%= column_chart @comensales_count_normal, 
      colors: ["blue", "#231487"],
      label: "Cantidad",
      columnchart_values: "values"
      %>
  <p>Comensales informados despues de las 12:00 y antes de las 13:00 del 10/06/2017</p>
  <%= column_chart @comensales_count_tarde, 
      colors: ["red", "#000"],
      label: "Cantidad",
      refresh: 60 %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["Empleados", <%= @comensales_count_empleado%>, "blue"],
        ["Invitados", <%= @comensales_count_invitado%>, "blue"],
        ["Directores", <%= @comensales_count_director%>, "blue"],
        ["Gerentes", <%= @comensales_count_gerente%>, "blue"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation",
                         fontSize: 17},
                       2]);

      var options = {
        title: "Comensales hasta 11:30",
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
      chart.draw(view, options);
  }
  </script>
<div id="columnchart_values2" style="width: 900px; height: 300px;"></div>

<div id="columnchart_values" style="width: 900px; height: 300px;"></div>

  <table class="table">
    <thead>
      <tr>
        <th>Id legajo</th>
        <th>Mail</th>
        <th>Tipo comensal</th>
        <th>Proyecto</th>
        <th>Fecha notificacion</th>
        <th>Cantidad</th>
        <!--
        <th colspan="3"></th>
        -->
      </tr>
    </thead>
    <tbody>
      <% @comensales.each do |comensale| %> 
      <tr>
        <td><%= comensale.id_legajo %></td>
        <td><%= comensale.mail %></td>
        <td><%= comensale.tipo_comensal %></td>
        <td><%= comensale.proyecto %></td>
        <td><%= comensale.fecha_notificacion %></td>
        <td><%= comensale.cantidad %></td>
        <!--
        <td><%= link_to 'Show', comensale %></td>
        <td><%= link_to 'Editar', edit_comensale_path(comensale) %></td>
        -->
        <td><%= link_to 'Eliminar', comensale, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>


<br>

<%= link_to '¿Desea ingresar nuevos comensales?', new_comensale_path %><br>
<%= link_to 'Ver menus del día', menus_path %>
