<table border="1" align="center">
	<tr>
		<th>Fecha</th>
		<th>Empleados</th>
		<th>Invitados</th>
		<th>Total</th>
		<th>Tarde</th>
	</tr>

	<tr>
		<td><%= @comensales_date%></td>
		<td><%= @comensales_count_empleado%></td>
		<td><%= @comensales_count_invitado%></td>
		<td><%= @comensales_count_total %></td>
		<td><%= @comensales_count_tarde %></td>
	</tr>

</table>