<p id="notice"><%= notice %></p>

<h1>Listing External Foods</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_foods.each do |external_food| %>
      <tr>
        <td><%= external_food.quantity %></td>
        <td><%= external_food.date %></td>
        <td><%= link_to 'Show', external_food %></td>
        <td><%= link_to 'Edit', edit_external_food_path(external_food) %></td>
        <td><%= link_to 'Destroy', external_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External food', new_external_food_path %>
