<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Plato %><br>
    <%= f.text_field :dish %>
  </div>
  <div class="field">
    
    <%= f.label :Días_Disponible %><br>

    <%= label_tag 'day_lunes', 'Lunes' %>
    <%= check_box_tag 'menu[day][]', 'Lunes', checked('Lunes'), id: 'day_lunes' %>

    <%= label_tag 'day_martes', 'Martes' %>
    <%= check_box_tag 'menu[day][]', 'Martes', checked('Martes'), id: 'day_martes' %>

    <%= label_tag 'day_miercoles', 'Miercoles' %>
    <%= check_box_tag 'menu[day][]', 'Miercoles', checked('Miercoles'), id: 'day_miercoles' %>

    <%= label_tag 'day_jueves', 'Jueves' %>
    <%= check_box_tag 'menu[day][]', 'Jueves', checked('Jueves'), id: 'day_jueves' %>

    <%= label_tag 'day_viernes', 'Viernes' %>
    <%= check_box_tag 'menu[day][]', 'Viernes', checked('Viernes'), id: 'day_viernes' %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

