<h1 style="text-align: center;">Lista de Menus</h1>

<table border="1" width="30%" cellpadding="0" cellspacing="0" align="center">
  <thead>
    <tr>
      <th>Platos</th>
      <th>Días disponibles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.dish %></td>
        <td><%= menu.day %></td>
        <td><%= link_to 'Editar', edit_menu_path(menu) %></td>
        <td><%= link_to 'Eliminar', menu, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Crear', new_menu_path %>
